@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .curve {
				background-color: aqua;
				
			 background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  }
	.curvey{
		box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    bottom: -100px;
		border-top-left-radius: 71% 100%;
		border-top-right-radius: 71% 100%;
		border: solid .25rem transparent;
		background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
